<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Topapp HTML Template | Homepage</title>
<!-- Stylesheets -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <%- include('partial/header') %>
	<!--Banner Section-->
	<section class="banner-section" id="home-banner">
	<div class="patern-layer-one" style="background-image: url('/images/background/main-bg.png');"></div>
	<div class="bg-layer" style="background-image: url('/images/background/-bg-1.png');"></div>

	<div class="auto-container">
		<div class="row align-items-center clearfix">
		
		<!-- Content Column -->
		<div class="content-column col-lg-6 col-md-12 col-sm-12">
			<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
			<h1>Let SONA Sales help <br> your business grow</h1>
			<div class="text">
				SONA Sales is your intelligent sales companion — helping you close deals, track
				performance, and grow your business while you focus on what truly matters.
			</div>
			<div class="banner-buttons">
				<a href="#pricing" class="theme-btn btn-style-four"><span class="txt">See Pricing</span></a>
				<a href="/register" class="theme-btn btn-style-three"><span class="txt">Try free for 14 Days</span></a>
			</div>
			</div>
		</div>

		<!-- Mockup Column -->
		<div class="carousel-column col-lg-6 col-md-12 col-sm-12">
			<div class="inner-column wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
			<div class="laptop-slides-box">
				<div class="imagetop">
				<img src="images/app/inbox_chat.png" alt="App Screenshot">
				</div>
			</div>
			</div>
		</div>

		</div>
	</div>
	</section>
	<!--End Banner Section--> 
		<!-- Featured Section -->
	<section class="featured-section" id="featured">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-5 col-md-12 col-sm-12">
					<div class="iner-column">
						<div class="sec-title">
							<div class="title"><span>Fe</span>atures</div>
							<h2>Broadcasting<span> Messages</span>?</h2>
						</div>
						<div class="text">
							<p>Customer service plays a vital role in extending the life of any product. When customers feel supported and valued even after their purchase, they’re more likely to stay loyal and continue using your services.</p> <p>With <strong>WABlast</strong>, our WhatsApp broadcasting solution, you can easily reach customers in seconds — whether it’s for after-sales support, promotional campaigns, or important updates — all in one efficient platform.</p>
						</div>
						<!-- <a href="#pricing" class="theme-btn btn-style-four"><span class="txt">See Price</span></a> -->
					</div>
				</div>
				
				<!-- Blocks Column -->
				<div class="blocks-column col-lg-7 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="features-grid">
					
					<!-- Feature Item -->
					<div class="featured-block" data-tilt data-tilt-max="6">
						<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-writing"></span>
						</div>
						<h3>Simple interface</h3>
						<div class="text">WABlast is designed with clarity in mind — an easy-to-use dashboard that lets you manage broadcasts effortlessly.</div>
						</div>
					</div>

					<!-- Feature Item -->
					<div class="featured-block style-two" data-tilt data-tilt-max="6">
						<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-protection-shield-with-a-check-mark"></span>
						</div>
						<h3>Flexible Message Formats</h3>
						<div class="text">
							Send messages your way — from simple text and images to interactive cards with buttons and links.
						</div>
						</div>
					</div>

					<!-- Feature Item -->
					<div class="featured-block style-three" data-tilt data-tilt-max="6">
						<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-dashboard"></span>
						</div>
						<h3>Easily manageable</h3>
						<div class="text"> Register authorized WhatsApp numbers to handle your broadcasts securely and efficiently.</div>
						</div>
					</div>

					<!-- Feature Item -->
					<div class="featured-block style-four" data-tilt data-tilt-max="6">
						<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-writing"></span>
						</div>
						<h3>Group your Loyal Customer</h3>
						<div class="text">
						Use the “Channel” feature to segment your regular customers and send exclusive offers, updates, or personalized messages directly to them.</div>
						</div>
					</div>

					</div>
				</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Featured Section -->


	<!-- Extra Info Section -->
	<section class="extra-info-section" id="extra-info">
	<div class="auto-container">
	<h1> Gunakan SONA sesuai kebutuhanmu</h1>
	
		<!-- Extra Info Block 1 -->
		<div class="extra-info-block">
		<div class="row clearfix align-items-center">
			<div class="col-lg-6 col-md-12 col-sm-12 image-column">
			<div class="inner-image">
				<img src="images/app/device_list.png" alt="Analytics Preview">
			</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 content-column">
			<div class="inner-content">
				<h2>Register your devices</h2>
				<p>It's easy quick and reliable. Plus you can always add more later</p>
				<a href="/register"  class="theme-btn btn-style-clean">
					<span class="txt">Learn More</span>
					<span class="arrow">→</span>
				</a>
			</div>
			</div>
		</div>
		</div>

		<!-- Extra Info Block 2 -->
		<div class="extra-info-block">
		<div class="row clearfix align-items-center reverse">
			<div class="col-lg-6 col-md-12 col-sm-12 image-column">
			<div class="inner-image">
				<img src="images/app/add_message.png" alt="Integration Preview">
			</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 content-column">
			<div class="inner-content">
				<h2>Broadcast your messages</h2>
				<p>Once you create the chatbot, Easily define how it interacts, responds, and support your customer. </p>
				<a href="/register" class="theme-btn btn-style-clean"">
					<span class="txt">Get Started</span>
					<span class="arrow">→</span>
				</a>
			</div>
			</div>
		</div>
		</div>

				<!-- Extra Info Block 1 -->
		<div class="extra-info-block">
		<div class="row clearfix align-items-center">
			<div class="col-lg-6 col-md-12 col-sm-12 image-column">
			<div class="inner-image">
				<img src="images/app/channel.png" alt="Analytics Preview">
			</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 content-column">
			<div class="inner-content">
				<h2>Manage your "Channel"</h2>
				<p>Using channel, manage your broadcast to segmented customers - Making it easier to reach potential customers</p>
				<a href="/register"  class="theme-btn btn-style-clean">
					<span class="txt">Learn More</span>
					<span class="arrow">→</span>
				</a>
			</div>
			</div>
		</div>
		</div>

	</div>
	</section>
 

	<!-- Screenshots Section -->
	<section class="screenshots-section">
		<div class="auto-container">
			<div class="sec-title centered style-two">
				<div class="title"><span>SO</span>NA for Users </div>
				<h2>Use <span>SONA</span> Chat to give<br>your customer the best service</h2>
			</div>
			
			<div class="row appScreenshotCarousel-container swiper-container">
				<div class="screen-mobile-image"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="phone-content">
							<img src="../images/app/wa-bot.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="phone-content">
							<img src="../images/app/wa-bot.jpg" alt="">
							</div>
						</div>
					</div>
				<!-- Add Arrows -->
			</div>
			<!-- Navigations -->
            <div class="banner-navigation">
                <div class="swiper-button-prev"><span class="icons-left-arrow-1"></span></div>
				<div class="swiper-button-next"><span class="icons-right-arrow-1"></span></div>
            </div>
		</div>
	</section>
	<!-- End Screenshots Section -->
 
	<!-- Pricing Section -->
	<section class="pricing-section" id="pricing">
		<div class="auto-container">
			<div class="sec-title centered style-three">
				<div class="title"><span>pr</span>icing</div>
				<h2>We have offered the <span>best </span>p<span>ricing</span> <br> to make life easier!</h2>
			</div>
			
			<div class="pricing-tabs tabs-box">
                    
				<!-- Title Column -->
				<div class="title-column">	
										<!-- Tab Btns -->
					<ul class="tab-buttons clearfix">
						<li data-tab="#prod-monthly" class="tab-btn monthly active-btn">Monthly</li>
						<li class="boll"><span class="round"></span></li>
						<li data-tab="#prod-yearly" class="tab-btn yearly">Yearly</li>
					</ul>					
				</div>
				<!--Tabs Container-->
				<div class="tabs-content">
					<div class="patern-layer-three paroller" data-paroller-factor="0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal" style="background-image: url(https://via.placeholder.com/460x584)"></div>
					<div class="patern-layer-four paroller" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal" style="background-image: url(https://via.placeholder.com/382x620)"></div>
					<!--Tab-->
					<div class="tab active-tab" id="prod-monthly">
						<div class="content">
							<div class="row clearfix">
								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="patern-layer-two" style="background-image: url(images/icons/pattern-18.png)"></div>
										<div class="patern-layer-one" style="background-image: url(images/icons/pattern-17.png)"></div>
										<div class="upper-box">
											<div class="icon-box">
												<span class="icon flaticon-plane"></span>
											</div>
											<div class="title">Regular</div>
											<h3>Rp 350.000</h3>
										</div>
										<div class="middle-box">
											<div class="price-title">Limited access</div>
											<ul class="price-list">
												<li><i class="fa fa-remove"></i>Chatbot Widget</li>
												<li><i class="fa fa-check"></i>Text Based</li>		
												<li><i class="fa fa-remove"></i>Voice based</li>
												<li><i class="fa fa-remove"></i>Training bot</li>
												<li><i class="fa fa-check"> Help and Support (2/month)</i></li>
												<li><i class="fa fa-remove"></i>Customizable interface</li>
												<li><i class="fa fa-remove"></i>Customizable chat agent</li>
												<li><i class="fa fa-remove"></i>Analytic Dashboard</li>
											</ul>
										</div>
										<div class="lower-box">
											<a href="#" class="theme-btn plan-btn">choose plan</a>
											<a href="#" class="trial">Get a free trial now!</a>
										</div>
									</div>
								</div>
								
								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="patern-layer-two" style="background-image: url(images/icons/pattern-18.png)"></div>
										<div class="patern-layer-one" style="background-image: url(images/icons/pattern-17.png)"></div>
										<div class="upper-box">
											<div class="icon-box">
												<span class="icon icons-rocket-ship"></span>
											</div>
											<div class="title">Premium</div>
											<h3>Rp 700.000</h3>
										</div>
										<div class="middle-box">
											<div class="price-title">unLimited access</div>
											<ul class="price-list">
												<li><i class="fa fa-check"></i>Chatbot Widget</li>
												<li><i class="fa fa-check"></i>Text Based</li>		
												<li><i class="fa fa-check"></i>Voice based</li>
												<li><i class="fa fa-check"></i>Training bot</li>
												<li><i class="fa fa-check"> Help and Support (2/month)</i></li>
												<li><i class="fa fa-check"></i>Customizable interface</li>
												<li><i class="fa fa-check"></i>Customizable chat agent</li>
												<li><i class="fa fa-check"></i>Analytic Dashboard</li>
											</ul>
										</div>
										<div class="lower-box">
											<a href="#" class="theme-btn plan-btn">choose plan</a>
											<a href="#" class="trial">Get a free trial now!</a>
										</div>
									</div>
								</div>

								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="patern-layer-two" style="background-image: url(images/icons/pattern-18.png)"></div>
										<div class="patern-layer-one" style="background-image: url(images/icons/pattern-17.png)"></div>
										<div class="upper-box">
											<div class="icon-box">
												<span class="icon icons-rocket-ship"></span>
											</div>
											<div class="title">Enterprise</div>
											<h3>Contact Us</h3>
										</div>
										<div class="middle-box">
											<div class="price-title">unLimited access</div>
											<ul class="price-list">
												<li><i class="fa fa-check"></i>Chatbot Widget</li>
												<li><i class="fa fa-check"></i>Text Based</li>		
												<li><i class="fa fa-check"></i>Voice based</li>
												<li><i class="fa fa-check"></i>Training bot</li>
												<li><i class="fa fa-check"> Help and Support (2/month)</i></li>
												<li><i class="fa fa-check"></i>Customizable interface</li>
												<li><i class="fa fa-check"></i>Customizable chat agent</li>
												<li><i class="fa fa-check"></i>Analytic Dashboard</li>
											</ul>
										</div>
										<div class="lower-box">
											<a href="#" class="theme-btn plan-btn">choose plan</a>
											<a href="#" class="trial">Get a free trial now!</a>
										</div>
									</div>
								</div>
								
							</div>
				
						</div>
					</div>		
					
					<div class="tab" id="prod-yearly">
						<div class="content">
							<div class="row clearfix">
								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="patern-layer-two" style="background-image: url(images/icons/pattern-18.png)"></div>
										<div class="patern-layer-one" style="background-image: url(images/icons/pattern-17.png)"></div>
										<div class="upper-box">
											<div class="icon-box">
												<span class="icon flaticon-plane"></span>
											</div>
											<div class="title">Regular</div>
											<h3>Rp 3.500.000</h3>
										</div>
										<div class="middle-box">
											<div class="price-title">Limited access</div>
											<ul class="price-list">
												<li><i class="fa fa-remove"></i>Chatbot Widget</li>
												<li><i class="fa fa-check"></i>Text Based</li>		
												<li><i class="fa fa-remove"></i>Voice based</li>
												<li><i class="fa fa-remove"></i>Training bot</li>
												<li><i class="fa fa-check"> Help and Support (2/month)</i></li>
												<li><i class="fa fa-remove"></i>Customizable interface</li>
												<li><i class="fa fa-remove"></i>Customizable chat agent</li>
												<li><i class="fa fa-remove"></i>Analytic Dashboard</li>
											</ul>
										</div>
										<div class="lower-box">
											<a href="#" class="theme-btn plan-btn">choose plan</a>
											<a href="#" class="trial">Get a free trial now!</a>
										</div>
									</div>
								</div>
								
								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="patern-layer-two" style="background-image: url(images/icons/pattern-18.png)"></div>
										<div class="patern-layer-one" style="background-image: url(images/icons/pattern-17.png)"></div>
										<div class="upper-box">
											<div class="icon-box">
												<span class="icon icons-rocket-ship"></span>
											</div>
											<div class="title">Premium</div>
											<h3>Rp 7.000.000</h3>
										</div>
										<div class="middle-box">
											<div class="price-title">unLimited access</div>
											<ul class="price-list">
												<li><i class="fa fa-check"></i>Chatbot Widget</li>
												<li><i class="fa fa-check"></i>Text Based</li>		
												<li><i class="fa fa-check"></i>Voice based</li>
												<li><i class="fa fa-check"></i>Training bot</li>
												<li><i class="fa fa-check"> Help and Support (2/month)</i></li>
												<li><i class="fa fa-check"></i>Customizable interface</li>
												<li><i class="fa fa-check"></i>Customizable chat agent</li>
												<li><i class="fa fa-check"></i>Analytic Dashboard</li>
											</ul>
										</div>
										<div class="lower-box">
											<a href="#" class="theme-btn plan-btn">choose plan</a>
											<a href="#" class="trial">Get a free trial now!</a>
										</div>
									</div>
								</div>
								<!-- Price Block -->
								<div class="price-block col-lg-4 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="patern-layer-two" style="background-image: url(images/icons/pattern-18.png)"></div>
										<div class="patern-layer-one" style="background-image: url(images/icons/pattern-17.png)"></div>
										<div class="upper-box">
											<div class="icon-box">
												<span class="icon icons-rocket-ship"></span>
											</div>
											<div class="title">Enterprise</div>
											<h3>Contact Us</h3>
										</div>
										<div class="middle-box">
											<div class="price-title">unLimited access</div>
											<ul class="price-list">
												<li><i class="fa fa-check"></i>Chatbot Widget</li>
												<li><i class="fa fa-check"></i>Text Based</li>		
												<li><i class="fa fa-check"></i>Voice based</li>
												<li><i class="fa fa-check"></i>Training bot</li>
												<li><i class="fa fa-check"> Help and Support (2/month)</i></li>
												<li><i class="fa fa-check"></i>Customizable interface</li>
												<li><i class="fa fa-check"></i>Customizable chat agent</li>
												<li><i class="fa fa-check"></i>Analytic Dashboard</li>
											</ul>
										</div>
										<div class="lower-box">
											<a href="#" class="theme-btn plan-btn">choose plan</a>
											<a href="#" class="trial">Get a free trial now!</a>
										</div>
									</div>
								</div>
								
							</div>
				
						</div>
					</div>	
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Pricing Section -->
 
	 <!-- CTA Section -->
	<section class="final-cta-section">
	<div class="auto-container">
		<div class="cta-content">
		<h2>Ready to <span>elevate</span> your customer experience?</h2>
		<p>Let SONA handle the conversations — so you can focus on closing deals, growing your business, and delighting your customers.</p>
		<div class="cta-buttons">
			<a href="/register" class="theme-btn btn-style-four">
			<span class="txt">Try SONA AI Free</span>
			</a>
		</div>

		</div>
	</div>

	<!-- Floating Backgrounds -->
	<div class="cta-bg-shape cta-bg-one"></div>
	<div class="cta-bg-shape cta-bg-two"></div>
	</section>
	<!-- End CTA Section -->


    <%- include('partial/footer') %>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/pagenav.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/validate.js"></script>
<script src="js/bxslider.js"></script>

<script src="js/swiper.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>