<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reset Password - SONA AI </title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
 
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/images/favicon.png" type="x-icon">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="page-wrapper">
 
  <section class="contact-section" style="padding-top:100px;">
    <div class="auto-container">
      <div class="row clearfix justify-content-center">
        <div class="form-column col-lg-6 col-md-8 col-sm-12">
          <div class="inner-column">
            <div class="sec-title centered">
              <div class="title"><span>Re</span>set Password</div>
              <h2>Set your new Password</h2>
            </div>
            <div class="default-form">
              <form method="post" action="/reset-password">
                <div class="form-group">
                  <input type="password" name="new_password" placeholder="New Password" required>
                </div>
                <div class="form-group">
                  <input type="password" name="retype_new_password" placeholder="Retype New Password" required>
                </div>
                <div class="form-group">
                  <button class="theme-btn btn-style-one" type="submit"><span class="txt">Reset Password</span></button>
                </div>
                <div class="form-group" style="text-align:center;">
                  <span style="font-size:13px;"><a href="/login">Back to Login</a></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('../partial/footer') %>
</div>
</body>
</html>