	<!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
 
					</div>
							
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<div class="row clearfix">
								<div class="column col-lg-7 col-md-6 col-xs-12">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">SONA AI Chat</a></li>
										<li><a href="#">SONA AI Sales Agent</a></li>
										<li><a href="#">WABlast</a></li>
									</ul>
								</div>
								<div class="column col-lg-5 col-md-6 col-xs-12">
 
								</div>
							</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget email-widget">
							<!-- <div class="text">Send us a newsletter to get update</div> -->
							<!-- Newsletter Form -->
							<div class="newsletter-form-two">
								<form method="post" action="contact.html">
									<!-- <div class="form-group">
										<input type="email" name="email" value="" placeholder="Your mail address" required="">
										<button type="submit" class="theme-btn submit-btn"><span class="icon flaticon-paper-plane"></span></button>
									</div> -->
								</form>
							</div>
 
						</div>
					</div>
					
				</div>
			</div>
		
			<div class="footer-bottom">
				<div class="clearfix">
					<div class="pull-left">
						<div class="copyright">2025 Wibi Digital Technology </div>
					</div>
					<div class="pull-right">
						<ul class="footer-nav">
							<li><a href="#"> </a></li>
							<li><a href="#"> </a></li>
							<li><a href="#"> </a></li>
						</ul>
					</div>
				</div>
			</div>
		
		</div>
	</footer>
	<!-- End Main Footer -->
	