	<!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a href="index.html"><img src="https://via.placeholder.com/136x55" alt="" /></a>
							</div>
							<div class="text">Lorem Ipsum is simply dummy text <br> of the printing and type.</div>
							<div class="paypall">
								<a href="#"><img src="images/icons/paypall.png" alt="" /></a>
							</div>
						</div>
					</div>
							
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-xs-12">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">About us</a></li>
										<li><a href="#">Testimonials</a></li>
										<li><a href="#">News</a></li>
									</ul>
								</div>
								<div class="column col-lg-6 col-md-6 col-xs-12">
									<ul>
										<li><a href="#">Team</a></li>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Gallery</a></li>
										<li><a href="#">Contact</a></li>
										<li><a href="#">Portfolio</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget email-widget">
							<div class="text">Send us a newsletter to get update</div>
							<!-- Newsletter Form -->
							<div class="newsletter-form-two">
								<form method="post" action="contact.html">
									<div class="form-group">
										<input type="email" name="email" value="" placeholder="Your mail address" required="">
										<button type="submit" class="theme-btn submit-btn"><span class="icon flaticon-paper-plane"></span></button>
									</div>
								</form>
							</div>
							<div class="btns">
								<a href="#"><img src="images/icons/app-1.png" alt="" /></a>
								<a href="#"><img src="images/icons/google-1.png" alt="" /></a>
							</div>
							<ul class="social-icon-one">
								<li class="facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li class="dribbble"><a href="#"><span class="fa fa-dribbble"></span></a></li>
								<li class="behance"><a href="#"><span class="fa fa-behance"></span></a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		
			<div class="footer-bottom">
				<div class="clearfix">
					<div class="pull-left">
						<div class="copyright">&copy; 2020 Themexriver</div>
					</div>
					<div class="pull-right">
						<ul class="footer-nav">
							<li><a href="#">Help</a></li>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>
		
		</div>
	</footer>
	<!-- End Main Footer -->
	